.rsh-input:focus {
    outline: none;
}

.rsh-input-box{
    border: 1px solid grey;
    border-radius: 5px;
}

.rsh-input-box-logo{
    width: 4%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.rsh-input{
    border: none;
    width: 96%;
    margin: 0;
    height: 100%;
    font-size: 15px;
    padding: 0;
    border-radius: inherit;
}