.rsh-input:focus {
  outline: none;
}

.rsh-search-wrapper{
  position: relative;
}

.rsh-input-box {
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  background-color: #FFFF;
  min-width: 200px;
}

.rsh-input-box-logo {
  width: 40px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.rsh-input {
  border: none;
  width: 100%;
  margin: 0;
  height: 100%;
  font-size: 15px;
  padding: 0;
  border-radius: inherit;
}

.rsh-search-list {
  position: absolute;
  top: 40px;
  width: 100%;
  padding: 0;
  overflow-x: scroll;
  overflow: scroll;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  z-index: 12;
  padding: 0 8px;
  box-sizing: border-box;
  background-color: #FFFF;
  min-width: 200px;
  max-height: 500px;
}

.rsh-search-list-item {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 10px 0;
  border-radius: 13px;
  padding: 3px 8px;
}

.rsh-search-list-item__active{
  background-color: rgba(120, 120, 120, 0.05);
}

.rsh-search-list-item-text{
  margin: 0px;
}